# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Variables de entorno y credenciales
.env
credentials.json
token.json

# Archivos temporales
.tmp/
*.log

# Editores / SO
.vscode/
.idea/
Thumbs.db
desktop.ini
.DS_Store
